@media (min-width: 901px){
    .class-1{
        font-size: 50px;
    }
}

@media (min-width: 750px) and (max-width: 900px){
    .class-1{
        font-size: 30px;
    }
}

@media (max-width: 749px){
    .class-1{
        font-size: 20px;
    }
}



