body{
    background-color: rgb(163, 162, 162);
}
.project{
    background-color: white;
    height:300px;
    margin-top: 20px;
}

.card{
    width:100%;
    margin-top: 20px;
    background-color: rgb(240, 237, 237);
}